<!DOCTYPE HTML>
<!--
	Tactile by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>History</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">Cod3fi</a></h1>
				<a href="#">Log Out</a>
				<a href="#menu">Menu</a>
			</header>
				
		
		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="user.html">Users</a></li>
					<li><a href="ssid.html">SSID</a></li>
					<li><a href="networkana.html">Network Analyis</a></li>
					<li><a href="triggers.html">Triggers</a></li>
					<li><a href="notifications.html">Notifications</a></li>
					<li><a href="controliot.html">Control IoT Devices</a></li>
					<li><a href="settings.html">Settings</a></li>
					<li><a href="https://www.cod3fi.com">Documentation</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="one" class="wrapper alt style2">
				<div class="table-wrapper">
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>IP address</th>
								<th>Current Status</th>
								<th>Rule</th>
								<th>Notifications</th>
								<th>Block device</th>
								<th> Set priority</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>John Miller's laptop</td>
								<td>192.168.10.5</td>
								<td style="color:#33FF3C";>Active</td>
								<td style="color:#33FF3C";>Ad blockers</td>
								<td style="color:#FF3F33";>3 violation detected </td> 
								<td><input type="checkbox" checked></input><label></label></td>
								<td><input type="checkbox"></input><label></label></td>
							</tr>
							<tr>
								<td>John Miller's mobile</td>
								<td>192.168.10.15</td>
								<td style="color:#33FF3C";>Active</td>
								<td style="color:#33FF3C";>Complete filtering enforced
									malaware analysis enabled</td>
								<td style="color:#FF3F33";>No viloation detected </td> 
								<td><input type="checkbox"></input><label></label></td>
								<td><input type="checkbox"></input><label></label></td>
							</tr>
							<tr>
								<td>Roku</td>
								<td>192.168.10.155</td>
								<td style="color:#33FF3C";>Active</td>
								<td style="color:#33FF3C";>Only Roku URLs enabled</td>
								<td style="color:#FF3F33";>No viloation detected </td> 
								<td><input type="checkbox"></input><label></label></td>
								<td><input type="checkbox" checked></input><label></label></td>
							</tr>
							<tr>
								<td>James Cameron's laptop</td>
								<td>192.168.10.12</td>
								<td style="color:#33FF3C";>Active</td>
								<td style="color:#33FF3C";>Ad blockers</td>
								<td style="color:#FF3F33";>No viloation detected </td> 
								<td><input type="checkbox"></input><label></label></td>
								<td><input type="checkbox" checked></input><label></label></td>
							</tr>
							<tr>
								<td>Philiph Hue</td>
								<td>192.168.10.122</td>
								<td style="color:#33FF3C";>Active</td>
								<td style="color:#33FF3C";>Lan access only, Hue has no internet access</td>
								<td style="color:#FF3F33";>No viloation detected</td> 
								<td><input type="checkbox"></input><label></label></td>
								<td><input type="checkbox"></input><label></label></td>
							</tr>
						</tbody>	
					</table>
				</div>
			</section>
		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<p>&copy; CodeSutra LLC. All rights reserved.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>