<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  

</head>

<body class="container">
  
  <form action="">
    <div class="col-sm-12">
    <h2>
      <!-- <span class="entypo-login"></span> -->
       Login</h2>
    </div>
    <div class="col-sm-12">
    <button class="submit"><span class="entypo-lock"></span></button>
    </div>
    <div class="col-sm-12">
    <span class="entypo-user inputUserIcon"></span>
    <input type="text" class="user" placeholder="ursername" />
    </div>
    <div class="col-sm-12">
    <span class="entypo-key inputPassIcon"></span>
    <input type="password" class="pass" placeholder="password" />
    </div>
  </form>
  
</body>

</html>



<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

<script type="text/javascript">
      //first circle
			ctx.fillStyle = "#43c4c5";
			ctx.strokeStyle = "#43c4c5";
			ctx.beginPath();
			ctx.arc(95,100,38,0,2*Math.PI);
			ctx.closePath();
			ctx.stroke();
			ctx.fill();

			ctx.fillStyle = "#ffffff";
			ctx.font = "18px Arial";
			ctx.fillText("29%",80,105);

			ctx.fillStyle = "#000000";
			ctx.font = "10px Arial";
			ctx.fillText("18-24",82,200);

			//second circle
			ctx.fillStyle = "#42c6f1";
			ctx.strokeStyle = "#42c6f1";
			ctx.beginPath();
			ctx.arc(150,50,38,0,2*Math.PI);
			ctx.closePath();
			ctx.stroke();
			ctx.fill();

			ctx.fillStyle = "#ffffff";
			ctx.font = "18px Arial";
			ctx.fillText("30%",135,55);

			ctx.fillStyle = "#000000";
			ctx.font = "10px Arial";
			ctx.fillText("25-34",137,200);

			//third circle
			ctx.lineWidth = 4;
			ctx.strokeStyle = "#309adb";
			ctx.beginPath();
			ctx.arc(215,100,42,0,2*Math.PI);
			ctx.closePath();
			ctx.stroke();

			ctx.fillStyle = "#309adb";
			ctx.font = "24px Arial";
			ctx.fillText("31%",195,110);

			ctx.fillStyle = "#000000";
			ctx.font = "10px Arial";
			ctx.fillText("35-44",200,200);

			//forth circle
			ctx.fillStyle = "#0b76c5";
			ctx.strokeStyle = "#0b76c5";
			ctx.beginPath();
			ctx.arc(280,55,34,0,2*Math.PI);
			ctx.closePath();
			ctx.stroke();
			ctx.fill();

			ctx.fillStyle = "#ffffff";
			ctx.font = "18px Arial";
			ctx.fillText("26%",265,60);

			ctx.fillStyle = "#000000";
			ctx.font = "10px Arial";
			ctx.fillText("45-54",265,200);
			
			//fifth circle
			ctx.fillStyle = "#084a92";
			ctx.strokeStyle = "#084a92";
			ctx.beginPath();
			ctx.arc(330,95,26,0,2*Math.PI);
			ctx.closePath();
			ctx.stroke();
			ctx.fill();

			ctx.fillStyle = "#ffffff";
			ctx.font = "18px Arial";
			ctx.fillText("20%",315,100);

			ctx.fillStyle = "#000000";
			ctx.font = "10px Arial";
			ctx.fillText("55-64",317,200);

			//sixth circle
			ctx.fillStyle = "#001965";
			ctx.strokeStyle = "#001965";
			ctx.beginPath();
			ctx.arc(375,105,16,0,2*Math.PI);
			ctx.closePath();
			ctx.stroke();
			ctx.fill();

			ctx.fillStyle = "#ffffff";
			ctx.font = "14px Arial";
			ctx.fillText("13%",360,110);

			ctx.fillStyle = "#000000";
			ctx.font = "10px Arial";
			ctx.fillText("65+",365,200);


			//first line
			ctx.setLineDash([1,2]);
			ctx.lineWidth = 1;
			ctx.moveTo(95,187);
			ctx.lineTo(95,140);
			ctx.stroke();

			//second line
			ctx.moveTo(150,187);
			ctx.lineTo(150,90);
			ctx.stroke();

			//third line
			ctx.moveTo(215,187);
			ctx.lineTo(215,145);
			ctx.stroke();

			//forth line
			ctx.moveTo(280,187);
			ctx.lineTo(280,95);
			ctx.stroke();

			//fifth line
			ctx.moveTo(330,187);
			ctx.lineTo(330,125);
			ctx.stroke();

			//sixth line
			ctx.moveTo(375,187);
			ctx.lineTo(375,125);
			ctx.stroke();

      </script>